header{
  text-align: center;
}
img{
width: 70%;
max-height: 500px;
}
body{
  background-color: red;
}
@media (max-width:1200px){
  body{
    background-color: cyan;
  }
}
@media (max-width:900px){
  body{
    background-color: blue;
  }
}
@media (max-width:600px){
  body{
    background-color: yellow;
  }
}
@media (max-width:300px){
  body{
    background-color: green;
  }
}
